.height {
    height: 100vh;
}

html, body {
    overflow: hidden;
}

body {
    background: rgb(208, 196, 134);
    background: linear-gradient(121deg, rgba(208, 196, 134, 1) 0%, rgba(230, 219, 163, 1) 15%, rgba(235, 225, 172, 1) 25%, rgba(235, 225, 172, 1) 90%, rgba(230, 219, 163, 1) 96%, rgba(208, 196, 134, 1) 100%);
    z-index: 0;
}

#horStripe {
    background-color: #8f823c;
    height: 4vh;
    width: 100vw;
    position: absolute;
    z-index: 4;
    top: 62vh;
}

#target {
    position: relative;
}

#salt {
    position: relative;
    
}

@media only screen and (max-width: 600px) {
    #salt {
        
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 1200px) {
    #salt {
        margin-left: 20%;
        margin-right: 20%;
    }
}

#start {
    color: #212529;
    font-size: .7em; 
}

#pileMask {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 89% 100%, 83% 65%, 81% 58%, 76% 57%, 72% 37%, 67% 31%, 58% 29%, 52% 39%, 50% 53%, 49% 52%, 48% 46%, 47% 38%, 37% 31%, 30% 32%, 24% 37%, 18% 34%, 16% 37%, 13% 63%, 10% 100%, 0% 100%);
    width: 105%;
    height: 152%;
    width: 105%;
    position: relative;
    z-index: 2;
    top: -112%;
    left: -5px;
    background-color: #ebe1ac;
}

#comingSoon {
    position: relative;
    font-weight: 400;
    color: #ebe1ac;
    z-index: 7;
    bottom: 0px;
    left: 0px;
}

.blip {
    height: 20px;
    width: 20px;
    clip-path: polygon(0% 0%, 48% 16%, 100% 0%, 87% 49%, 100% 100%, 52% 81%, 0% 100%, 16% 49%);
    position: absolute;
    background-color: #ebe1ac;
    z-index: 1;
}

.salt {
    background-color: #212529;
    height: 6px;
    width: 6px;
    position: absolute;
    /* animation: salt1 1s ease-in forwards; */
}

.saltSize1 {
    clip-path: polygon(0% 0%, 48% 16%, 100% 0%, 87% 49%, 100% 100%, 52% 81%, 0% 100%, 16% 49%);
    z-index: 3;
}

.saltSize2 {
    clip-path: polygon(9% 0, 86% 28%, 99% 80%, 9% 100%);
    z-index: 5;
}

.saltSize3 {
    clip-path: polygon(54% 21%, 100% 0, 83% 55%, 93% 92%, 19% 56%, 0 0);
    z-index: 3;
}

#dust {
    position: absolute;
    top: 0;
    left: 15%;
    height: 50%;
    width: 75%;
    z-index: 4;
}

/* #cloud1 {
    clip-path: polygon(13% 80%, 25% 74%, 37% 71%, 49% 76%, 57% 76%, 65% 72%, 74% 76%, 81% 82%, 85% 88%, 89% 83%, 98% 65%, 97% 47%, 84% 19%, 68% 6%, 49% 23%, 40% 38%, 26% 14%, 13% 7%, 3% 15%, 1% 38%, 3% 57%, 7% 78%);
    width: 70%;
    height: 200%;
    position: absolute;
    z-index: 4;
    top: -145%;
    left: 4%;
    background: rgb(65, 65, 65);
    background: linear-gradient(180deg, rgba(65, 65, 65, 0) 0%, rgba(65, 65, 65, 0.1) 13%, rgba(65, 65, 65, 0.35) 27%, rgba(65, 65, 65, 0.7) 54%, rgba(65, 65, 65, 1) 100%);
    transform: rotate(-12deg);
} */

.cloud {
    clip-path: ellipse(26% 48% at 50% 50%);
    width: 21%;
    height: 210%;
    position: absolute;
    z-index: 4;
    /* bottom: 0%;
    left: 0%; */
    transform: scale( .1 );
    transition: all 4s ease-in-out;
    background: rgb(65,65,65);
    background: radial-gradient(circle, rgba(65,65,65,0.7) 0%, rgba(65,65,65,0.5) 8%, rgba(65,65,65,0.3) 16%, rgba(65,65,65,0) 40%, rgba(65,65,65,0) 100%);    
}

/* #cloud3 {
    clip-path: ellipse(26% 48% at 50% 50%);
    width: 55%;
    height: 200%;
    position: absolute;
    z-index: 4;
    top: -24%;
    left: 56%;
    background: rgb(65,65,65);
    background: radial-gradient(circle, rgba(65,65,65,0.7) 0%, rgba(65,65,65,0.5) 8%, rgba(65,65,65,0.3) 16%, rgba(65,65,65,0) 40%, rgba(65,65,65,0) 100%);
    transform: rotate(10deg);
} */

.saltPile {
    background-color: #212529;
    height: 8px;
    width: 8px;
    z-index: 0;
    position: absolute;
    border-radius: 7px;
    /* animation: salt1 1s ease-in forwards; */
}

.saltPileColor1 {
    background: rgb(54, 58, 61);
    background: radial-gradient(circle, rgba(54, 58, 61, 1) 0%, rgba(33, 37, 41, 1) 100%);
    clip-path: polygon(50% 0%, 100% 0, 89% 24%, 87% 71%, 100% 100%, 50% 100%, 0 100%, 10% 78%, 16% 25%, 0 0);
}

.saltPileColor2 {
    background: rgb(54, 58, 61);
    background: radial-gradient(circle, rgba(54, 58, 61, 1) 0%, rgba(33, 37, 41, 1) 100%);
    clip-path: polygon(50% 0%, 100% 0, 92% 42%, 79% 75%, 100% 100%, 50% 100%, 0 100%, 22% 74%, 38% 25%, 0 0);
}

.saltPileColor3 {
    background: rgb(54, 58, 61);
    background: radial-gradient(circle, rgba(54, 58, 61, 1) 0%, rgba(33, 37, 41, 1) 100%);
    clip-path: polygon(50% 0%, 100% 0, 86% 22%, 70% 44%, 100% 100%, 50% 100%, 0 100%, 5% 79%, 4% 32%, 0 0);
}

.particleStyle1 {
    background-color: #212529;
    height: 1px;
    width: 1px;
    position: absolute;
    z-index: 5;
}

.particleStyle2 {
    background-color: #2d3135;
    height: 2px;
    width: 2px;
    position: absolute;
    z-index: 5;
}

.particleStyle3 {
    background-color: #6b6b6b;
    height: 1px;
    width: 1px;
    position: absolute;
    z-index: 5;
}

#glitch {
    position: absolute;
    top: 28vh;
    left: 72vw;
}

#redGlitch {
    width: 2px;
    height: 2px;
    background-color: red;
}

#blueGlitch {
    width: 2px;
    height: 2px;
    background-color: blue;
}

#greenGlitch {
    width: 2px;
    height: 2px;
    background-color: rgb(32, 185, 32);
}

#consoleBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #212529;
    z-index: 7;
}

@keyframes salt1 {
    0% {
        transform: translate(0%);
    }
    3% {
        transform: translate(.5vw, -.5vh);
    }
    7% {
        transform: translate(1vw, 0%);
    }
    12% {
        transform: translate(1vw, 8vh);
    }
    37% {
        transform: translate(2vw, 20vh);
    }
    67% {
        transform: translate(3vw, 32vh);
    }
    100% {
        transform: translate(3vw, 75vh);
    }
}

@keyframes salt2 {
    0% {
        transform: translate(0%);
    }
    3% {
        transform: translate(-.5vw, -.5vh);
    }
    7% {
        transform: translate(-1vw, 0%);
    }
    12% {
        transform: translate(-1vw, 8vh);
    }
    37% {
        transform: translate(-2vw, 20vh);
    }
    67% {
        transform: translate(-3vw, 32vh);
    }
    100% {
        transform: translate(-3vw, 75vh);
    }
}

@keyframes salt3 {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(75vh);
    }
}

@keyframes particle1 {
    0% {
        transform: translate(0%);
    }
    3% {
        transform: translate(0vw, -1vh);
    }
    7% {
        transform: translate(-1vw, -2vh);
    }
    12% {
        transform: translate(-3vw,-4vh);
    }
    37% {
        transform: translate(-5vw,-6vh);
    }
    67% {
        transform: translate(-7vw, -5vh);
    }
    100% {
        transform: translate(-8vw, -3vh);
    }
}

@keyframes particle2 {
    0% {
        transform: translate(0%);
    }
    3% {
        transform: translate(0vw, -1vh);
    }
    7% {
        transform: translate(-1vw, -2vh);
    }
    12% {
        transform: translate(-2vw,-4vh);
    }
    37% {
        transform: translate(-2vw,-6vh);
    }
    67% {
        transform: translate(-3vw, -5vh);
    }
    100% {
        transform: translate(-3vw, -3vh);
    }
}

@keyframes particle3 {
    0% {
        transform: translate(0%);
    }
    3% {
        transform: translate(0vw, -1vh);
    }
    7% {
        transform: translate(1vw, -2vh);
    }
    12% {
        transform: translate(3vw,-4vh);
    }
    37% {
        transform: translate(5vw,-6vh);
    }
    67% {
        transform: translate(7vw, -5vh);
    }
    100% {
        transform: translate(8vw, -3vh);
    }
}